<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>ArtupaWeb</display-name>
  
  <welcome-file-list>
    <welcome-file>login.html</welcome-file>
  </welcome-file-list>

  <servlet>
    <servlet-name>SrvIndex</servlet-name>
    <servlet-class>artupa.servlets.SrvIndex</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>SrvRegistroUsuario</servlet-name>
    <servlet-class>artupa.servlets.SrvRegistroUsuario</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>SrvNuevoLibro</servlet-name>
    <servlet-class>artupa.servlets.SrvNuevoLibro</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>SrvNuevoAutor</servlet-name>
    <servlet-class>artupa.servlets.SrvNuevoAutor</servlet-class>
</servlet>

<servlet>
    <servlet-name>SrvNuevaEditorial</servlet-name>
    <servlet-class>artupa.servlets.SrvNuevaEditorial</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>SrvNuevaCategoria</servlet-name>
    <servlet-class>artupa.servlets.SrvNuevaCategoria</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>SrvIndex</servlet-name>
    <url-pattern>/SrvIndex</url-pattern>
  </servlet-mapping> 
  
   <servlet-mapping>
    <servlet-name>SrvNuevoLibro</servlet-name>
    <url-pattern>/SrvNuevoLibro</url-pattern>
  </servlet-mapping> 
  
  <servlet-mapping>
    <servlet-name>SrvNuevoAutor</servlet-name>
    <url-pattern>/SrvNuevoAutor</url-pattern>
</servlet-mapping>

  <servlet-mapping>
    <servlet-name>SrvNuevaEditorial</servlet-name>
    <url-pattern>/SrvNuevaEditorial</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>SrvNuevaCategoria</servlet-name>
    <url-pattern>/SrvNuevaCategoria</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>SrvRegistroUsuario</servlet-name>
    <url-pattern>/SrvRegistroUsuario</url-pattern>
  </servlet-mapping>
</web-app>


  
